<main>
  <mat-drawer-container class="example-container">
    <mat-drawer-content>
      <header>
        <mat-form-field appearance="fill">
          <input [formControl]="searchField" type="text" matInput placeholder="Search" >
        </mat-form-field>
        <button mat-stroked-button color="primary" (click)="openCloseDrawer(true)">+ Add New</button>
      </header>
      <div *ngIf="dataSource" class="mat-elevation-z8">
        <table class="w-100"  mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

          <!-- Email Column -->
          <ng-container matColumnDef="email" class="email-cell">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="email"> Email </th>
            <td mat-cell *matCellDef="let element" (click)="setUpdatedata(element)"> {{element.email}} </td>
          </ng-container>

          <!-- First Name Column -->
          <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="firstName"> First Name </th>
            <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
          </ng-container>

          <!-- Last Name Column -->
          <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="lastName"> Last Name </th>
            <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
          </ng-container>

          <!-- Roles Column -->
          <ng-container matColumnDef="roles">
            <th mat-header-cell *matHeaderCellDef> Roles </th>
            <td mat-cell *matCellDef="let element"> {{element.roles}} </td>
          </ng-container>

          <!-- Status Column -->
          <ng-container matColumnDef="locked">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="locked"> Status </th>
            <td mat-cell *matCellDef="let element"> {{element.locked? "Active" : "Inactive"}} </td>
          </ng-container>

          <!--  Action for delete button-->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <button mat-raised-button color="warn" (click)="deleteUser(element)">Delete</button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [length]="totalCount"
                       [pageSize]="pageSize"
                       [pageIndex]="pageIndex"
                       (page)="onPageChange($event)"
                       showFirstLastButtons
                       aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
    </mat-drawer-content>
    <mat-drawer mode="side" position="end" #drawer opened>
      <h4 class="exit-icon" (click)="openCloseDrawer(false)">X</h4>
      <form class="example-form" [formGroup]="userForm" >
        <mat-form-field appearance="fill">
          <mat-label>First Name</mat-label>
          <input formControlName="firstName" matInput placeholder="Leonardo" required>
          <mat-error *ngIf="userForm.get('firstName')?.hasError('required')">
            First name is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="userForm.get('firstName')?.hasError('pattern')">
            The first name must consist of only letters
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Last Name</mat-label>
          <input formControlName="lastName" matInput placeholder="Da Vinci" required>
          <mat-error *ngIf="userForm.get('lastName')?.hasError('required')">
            Last name is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="userForm.get('lastName')?.hasError('pattern')">
            The last name must consist of only letters
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput placeholder="Example@mail.com" required>
          <mat-error *ngIf="userForm.get('email')?.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="userForm.get('email')?.errors">
            Email isn't valid
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Users Status</mat-label>
          <select matNativeControl required formControlName="userStatus">
            <option value="active">Active</option>
            <option value="inactive">Inactive</option>>
          </select>
          <mat-error *ngIf="userForm.get('userStatus')?.hasError('required')">
            User status is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <h4>Add New Roles</h4>
        <div class="chip-input-container">
          <div class="chip-list">
            <div class="chip" *ngFor="let role of selectedRoles">
              {{role}}
              <button (click)="removeRole(role)">x</button>
            </div>
          </div>
          <select (change)="addRole($event)">
            <option *ngFor="let role of UserRoles?.data?.entities" value="{{role.code}}">{{ role.name }}</option>
          </select>
        </div>
        <hr>
        <div>
          <button (click)="openCloseDrawer(false)" mat-raised-button>Cancel</button>
          <button *ngIf="!isUpdateOpen" mat-raised-button color="primary" (click)="saveUser()" [disabled]="userForm.invalid || selectedRoles.length === 0">Save</button>
          <button *ngIf="isUpdateOpen" mat-raised-button color="primary" (click)="updateUserData()" [disabled]="userForm.invalid || selectedRoles.length === 0">Update</button>
        </div>
      </form>
    </mat-drawer>
  </mat-drawer-container>
</main>
